<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">teams</h1>
      </div>
    </div>

  </div>
</div>
<app-teams-table  ></app-teams-table>
<!-- <div class="container">
<div class="widget-next-match">
  <table class="table custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Team</th>
        <th>Owner</th>
        <th>Foundation</th>
        <th>Stadium</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td>{{team.id}}</td>
        <td><strong class="text-white">{{team.name}}</strong></td>
        <td>{{team.owner}}</td>
        <td>{{team.foundation}}</td>
        <td>{{team.stadium}}</td>
       
      </tr>

     
    </tbody>
  </table>
</div>
</div> -->